body {
  font-family: "Aleo", serif;
  color: #0D0D0D;
}

#navbar {
  font-family: "Brandon Grotesque Medium", serif;
  padding: 0;
  transition: 0.2s ease;
}
@media (max-width: 720px) {
  #navbar {
    padding: 0 0 0.8em;
  }
}
#navbar .btn-action {
  border-radius: 50px;
  background: #f20587;
  border-color: #BF1774;
  height: 1em;
  line-height: 0.2em;
  margin: 0 1em;
  text-align: center;
  padding: 1em 2em;
  color: #f2f2f2;
}

#carousels .carousel-item {
  position: relative;
  height: 77vh;
  transition: transform 1s ease-in-out;
}
#carousels .carousel-item img {
  width: 30% !important;
  position: absolute;
  right: 3em;
  bottom: 1em;
}
#carousels .carousel-item .carousel-caption {
  position: absolute;
  top: 10em;
  left: 3.7em;
  text-align: left;
}
#carousels .carousel-item .carousel-caption h5 {
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  text-transform: capitalize !important;
  font-size: 2.8rem;
  font-weight: bold;
  color: #0D0D0D;
}
#carousels .carousel-item .carousel-caption p {
  text-shadow: 0.5px 0.5px 1px rgba(242, 5, 135, 0.6);
  font-size: 1rem;
  color: #0D0D0D;
  margin-top: 2em;
  letter-spacing: 2px;
  word-spacing: 10px;
}
#carousels .carousel-indicators button {
  background: #f20587;
  border-radius: 50px;
  width: 7px;
  height: 1px;
}
#carousels .carousel-control-prev, #carousels .carousel-control-next {
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  color: #0D0D0D;
  margin: 260px 20px 0;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
}
#carousels .btn-action {
  border-radius: 50px;
  background: #f20587;
  border-color: #BF1774;
  font-weight: bold;
  margin: 0 1em;
  text-align: center;
  padding: 0.4em 2em;
  color: #f2f2f2;
  position: absolute;
  text-decoration: none;
  top: 50vh;
  left: 2.6em;
  z-index: 999;
}
#carousels .btn-action:nth-last-child(1) {
  background: #1C98A6;
  left: 12em;
}
#carousels .btn-action i {
  font-size: 1.2rem;
}
@media (max-width: 720px) {
  #carousels {
    top: -9em;
    margin-bottom: 6em;
  }
  #carousels .carousel-control-prev, #carousels .carousel-control-next {
    display: none !important;
  }
  #carousels .carousel-indicators button {
    margin-top: -15%;
  }
  #carousels .btn-action {
    position: absolute;
    top: 110%;
    left: 5% !important;
    width: 80%;
    font-size: 1.2rem;
  }
  #carousels .btn-action:nth-last-child(1) {
    background: #1C98A6;
    top: 100%;
  }
  #carousels .carousel-item .carousel-caption {
    width: 100%;
    left: 0;
    top: 52vh;
    text-align: center;
  }
  #carousels .carousel-item .carousel-caption h5 {
    font-size: 2.5rem;
  }
  #carousels .carousel-item p {
    display: none;
  }
  #carousels .carousel-item img {
    width: 70vw !important;
    position: absolute;
    top: 9.5em;
    right: 0.5rem;
  }
}

@media (max-width: 720px) {
  #wave1 {
    margin-top: -10.5em !important;
  }
}
#layanan {
  margin-top: -5em;
  background: #f2f2f2;
}
#layanan h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  border-bottom: 3px solid rgba(242, 5, 135, 0.6);
  position: relative;
  width: 5em;
  margin: 3em auto 3em !important;
  text-align: center;
}
#layanan h4 {
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  text-transform: capitalize !important;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0D0D0D;
  margin: 0.5em 0;
}
#layanan ul {
  border-radius: 1em;
  text-shadow: 0.5px 0.5px 1px rgba(242, 5, 135, 0.6);
  box-shadow: 0 0 20px 3px rgba(242, 5, 135, 0.6);
  margin-top: 7em;
}
#layanan .row {
  margin: 0 3em;
}
#layanan .row .col-md-5 {
  margin-bottom: 8em !important;
}
#layanan .layanan-img {
  width: 85%;
  margin-top: 1.5em;
  margin-left: 5em;
}
#layanan .img-frame::before {
  content: "";
  display: block;
  width: 40%;
  height: 70%;
  position: absolute;
  background-image: url(/img/icons/frame222.png);
  background-position: center;
  background-size: cover;
  margin-top: -2em;
  margin-left: 4em;
}
#layanan .img-frame.second {
  margin-left: -5em;
  width: 100%;
}
#layanan .img-frame.second .layanan-img {
  margin-top: 1.5em;
  margin-left: 5.8em;
}
#layanan .img-frame.third .layanan-img {
  margin-top: 1em;
  margin-left: 4.8em;
}
@media (max-width: 720px) {
  #layanan .row {
    align-content: start !important;
    margin: 0 0.5em;
    position: relative;
  }
  #layanan .row .col-md-5 {
    margin-bottom: 0 !important;
  }
  #layanan .row .col-md-5 .list-group {
    position: relative;
    top: -7em;
  }
  #layanan .row .col-md-5 .list-group.second {
    top: 0;
  }
  #layanan .row .col-md-5 .list-group.third {
    top: -2em;
  }
  #layanan .img-frame::before {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    left: 0;
    top: 10em;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #layanan .img-frame .layanan-img {
    margin: 0;
    width: 100%;
    margin-top: -1em;
  }
  #layanan .img-frame.second::before {
    top: -7em !important;
  }
  #layanan .img-frame.second .layanan-img {
    width: 105%;
    margin-top: 4.5em;
    margin-left: 4.5em;
  }
  #layanan .img-frame.third .layanan-img {
    width: 105%;
    margin-top: 3em;
    margin-left: -0.5em;
  }
  #layanan #wave2 {
    margin-top: 3em;
  }
}

#bahan h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  border-bottom: 3px solid rgba(242, 5, 135, 0.6);
  position: relative;
  width: 6.5em;
  margin: 3em auto 3em !important;
  text-align: center;
}
#bahan .container {
  margin-top: 6em !important;
  overflow: hidden;
  position: relative;
}
#bahan .container > .row {
  height: 25em !important;
}
#bahan .container .tagline {
  padding-left: 2.8em;
  align-self: center;
}
#bahan .container .tagline h4 {
  font-family: "Brandon Grotesque Medium", serif;
  color: #f2f2f2;
  font-size: 2.6rem;
  line-height: 1.5em;
  word-spacing: 0.5em;
  text-shadow: 2px 2px 6px #0D0D0D;
  -webkit-text-stroke: 1.8px #0D0D0D;
}
#bahan .container .tagline h4::before {
  content: "";
  display: block;
  width: 15em;
  height: 10em;
  position: absolute;
  background-image: url(/img/icons/background3.png);
  background-position: center;
  background-size: cover;
  z-index: -999;
  margin-top: -2.2em;
  margin-left: -1.8em;
}
#bahan .container .bahan h5 {
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  margin-bottom: 1em;
}
#bahan .container .bahan .col-md-4 {
  padding-right: 0;
}
#bahan .container .bahan .col-md-8 {
  padding-left: 0;
  overflow: hidden;
}
#bahan .container .bahan .row {
  height: 20em;
}
#bahan .container .bahan .kain img, #bahan .container .bahan .oscar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#bahan .container .bahan .kain, #bahan .container .bahan .oscar {
  position: relative;
}
#bahan .container .bahan .kain > .item-1::before, #bahan .container .bahan .oscar > .item-1::before {
  display: grid;
  content: "Mb tech";
  background: rgba(0, 0, 0, 0.6);
  width: 33.3%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: #f2f2f2;
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 2px 2px 6px rgba(242, 5, 135, 0.6);
  -webkit-text-stroke: 0.3px #f20587;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: opacity 0.7s;
  opacity: 0;
}
#bahan .container .bahan .kain > .item-2::before, #bahan .container .bahan .oscar > .item-2::before {
  display: grid;
  content: "Force";
  background: rgba(0, 0, 0, 0.6);
  width: 33.3%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: #f2f2f2;
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 2px 2px 6px rgba(242, 5, 135, 0.6);
  -webkit-text-stroke: 0.3px #f20587;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: opacity 0.7s;
  opacity: 0;
}
#bahan .container .bahan .kain > .item-3::before, #bahan .container .bahan .oscar > .item-3::before {
  display: grid;
  content: "Ateja";
  background: rgba(0, 0, 0, 0.6);
  width: 33.3%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: #f2f2f2;
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 2px 2px 6px rgba(242, 5, 135, 0.6);
  -webkit-text-stroke: 0.3px #f20587;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: opacity 0.7s;
  opacity: 0;
}
#bahan .container .bahan .kain > .item-4::before, #bahan .container .bahan .oscar > .item-4::before {
  display: grid;
  content: "Lapaloma";
  background: rgba(0, 0, 0, 0.6);
  width: 33.3%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: #f2f2f2;
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 2px 2px 6px rgba(242, 5, 135, 0.6);
  -webkit-text-stroke: 0.3px #f20587;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: opacity 0.7s;
  opacity: 0;
}
#bahan .container .bahan .kain > .item-5::before, #bahan .container .bahan .oscar > .item-5::before {
  display: grid;
  content: "Regency";
  background: rgba(0, 0, 0, 0.6);
  width: 33.3%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  color: #f2f2f2;
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 2px 2px 6px rgba(242, 5, 135, 0.6);
  -webkit-text-stroke: 0.3px #f20587;
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: opacity 0.7s;
  opacity: 0;
}
#bahan .container .bahan .kain .item-1:hover::before, #bahan .container .bahan .oscar .item-1:hover::before {
  opacity: 1;
}
#bahan .container .bahan .kain .item-2:hover::before, #bahan .container .bahan .oscar .item-2:hover::before {
  opacity: 1;
}
#bahan .container .bahan .kain .item-3:hover::before, #bahan .container .bahan .oscar .item-3:hover::before {
  opacity: 1;
}
#bahan .container .bahan .kain .item-4:hover::before, #bahan .container .bahan .oscar .item-4:hover::before {
  opacity: 1;
}
#bahan .container .bahan .kain .item-5:hover::before, #bahan .container .bahan .oscar .item-5:hover::before {
  opacity: 1;
}
#bahan .container .bahan .kain > div {
  padding: 0;
  overflow: hidden;
}
#bahan .container .bahan .kain .item-2 img {
  width: 300%;
  height: 150%;
  margin-top: -4em;
  margin-left: -8em;
}
#bahan .container .bahan .oscar {
  margin: 0;
}
#bahan .container .bahan .oscar > div {
  padding-left: 0;
  margin: 0;
}
#bahan .container .bahan .oscar img {
  height: 100%;
  object-fit: cover;
}
#bahan .container .bahan .oscar .item-4::before, #bahan .container .bahan .oscar .item-5::before {
  width: 93%;
  height: 50%;
}

#tentang {
  background: #f2f2f2;
  padding-bottom: 3em;
}
#tentang h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  border-bottom: 3px solid rgba(242, 5, 135, 0.6);
  position: relative;
  width: 6.85em;
  margin: 3em auto 3em !important;
  text-align: center;
}
#tentang .row {
  margin-top: 8em;
}
#tentang .row .img-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
}
#tentang .row .img-wrapper .img-frame {
  text-align: center;
}
#tentang .row .img-wrapper .img-frame .tentang-img {
  width: 70%;
}
#tentang .row .img-wrapper .img-frame::before {
  content: "";
  display: block;
  width: 40%;
  height: 70%;
  position: absolute;
  background-image: url(/img/icons/bg-frame5.png);
  background-position: center;
  background-size: cover;
  margin-top: -6.7em;
  margin-left: -1.3em;
}
#tentang .row h4 {
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: 1px 1px #f2f2f2;
  text-transform: capitalize !important;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0D0D0D;
  margin-bottom: 1em;
  background: #F29BD4;
  display: inline-block;
  padding: 0.2em 0.5em;
}
#tentang .row p {
  text-align: justify;
  text-shadow: 0.5px 0.5px 5px #F29BD4;
  font-size: 1.1rem;
  line-height: 2em;
}

#kontak {
  padding-bottom: 3em;
}
#kontak .row {
  margin-top: 6em;
}
#kontak .row .col-md-5 {
  margin-top: 0;
  padding: 0;
}
#kontak .row .col-md-5 > div {
  padding: 0;
}
#kontak h3 {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgba(242, 5, 135, 0.6);
  border-bottom: 3px solid rgba(242, 5, 135, 0.6);
  position: relative;
  width: 5em;
  margin: 3em auto 3em !important;
  text-align: center;
}
#kontak h4 {
  font-family: "Brandon Grotesque Medium", serif;
  text-shadow: -1px -1px 2px rgba(242, 5, 135, 0.6), 2px 2px 1px #0D0D0D;
  text-transform: capitalize !important;
  font-size: 1.8rem;
  font-weight: bold;
  color: #F2DE4E;
  display: inline-block;
  padding: 0.5em 1em;
  letter-spacing: 0.2rem;
}
#kontak .card, #kontak .alamat {
  height: 100%;
  border-radius: 1em;
  box-shadow: 7px 7px 20px -5px #0D0D0D;
  background: #1C98A6;
  text-shadow: 0.5px 0.5px 1px rgba(242, 5, 135, 0.6);
  margin-bottom: 2em;
}
#kontak .map-wrapper {
  min-height: 30em;
}
#kontak .map-wrapper .card {
  padding: 4px;
}
#kontak .map-wrapper .card .map {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
#kontak .kontak {
  height: 12em;
  width: 100%;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #0D0D0D;
  color: #f2f2f2;
}
#kontak .kontak .row {
  height: 100%;
  padding: 0 0.5em;
  margin-top: 0;
}
#kontak .kontak .row h4 {
  padding: 0.5em;
}
#kontak .kontak .row .title {
  padding: 0 !important;
  text-align: center;
  align-content: center;
  display: grid;
}
#kontak .kontak .row .body {
  display: grid;
  text-align: center;
  align-content: center;
}
#kontak .kontak .row .body a {
  color: #f2f2f2;
  text-decoration: none !important;
}
#kontak .kontak .row .body hr {
  height: 2px;
  border-radius: 1px;
}
#kontak .kontak .row .body .x-hr {
  width: 2px;
  height: 80%;
  position: absolute;
  margin-top: 1.3em;
  left: 41.5%;
}
#kontak .kontak .row .body h4 {
  font-size: 1.2rem;
  display: inline-block;
  color: #F29BD4;
  text-shadow: 0px 0px 2px #0D0D0D, 1px 1px 2px #0D0D0D;
}
#kontak .kontak .row .body h4 i {
  font-size: 1.4em;
}
#kontak .alamat li:first-child {
  background: #1C98A6;
  padding: 8px 4px !important;
}
#kontak .alamat li:first-child h4 {
  margin-bottom: 0;
}
#kontak .alamat li {
  padding: 0.7em 2em !important;
  height: 100%;
  display: grid;
  align-content: center;
}

#footer {
  background: #F29BD4;
  padding: 1em;
}
#footer .col-md-3 {
  display: grid;
  justify-content: center;
}
#footer .brand-wrapper {
  padding: 0.5em 1em;
  text-align: center;
  background: white;
  border-radius: 0.5em;
}
#footer .sosmed {
  margin-top: 1em;
  text-align: center;
}
#footer .sosmed .sosmed-wrapper {
  line-height: 2.5em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-content: center;
  height: 2.5em;
  width: 2.5em;
  margin-left: 1em;
  background: white;
  border-radius: 2em;
}
#footer .sosmed .sosmed-wrapper:hover i::before {
  background-position: 0% 0%;
}
#footer .sosmed .sosmed-wrapper .fab, #footer .sosmed .sosmed-wrapper .far {
  font-size: 1.6rem;
  color: #F29BD4;
}
#footer .sosmed .sosmed-wrapper i::before {
  display: "";
  top: 5.3px;
  position: relative;
  text-align: center;
  background-size: 250% 250%;
  background-position: 75% 75%;
  transition: background 0.24s linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#footer .sosmed .sosmed-wrapper .fa-facebook-square::before {
  background-image: linear-gradient(135deg, #0480fe 30%, #F29BD4 50%);
}
#footer .sosmed .sosmed-wrapper .fa-instagram::before {
  background-image: linear-gradient(135deg, #ee258e 30%, #F29BD4 50%);
}
#footer .sosmed .sosmed-wrapper .fa-whatsapp::before {
  background-image: linear-gradient(135deg, #11d458 30%, #F29BD4 50%);
}
#footer .sosmed .sosmed-wrapper .fa-envelope::before {
  background-image: linear-gradient(135deg, #febd39 30%, #F29BD4 50%);
}
#footer p, #footer span {
  font-size: 0.8rem;
}
#footer p {
  margin-top: 3em;
  text-align: center;
  line-height: 2em;
}
#footer p a {
  font-size: 0.9rem;
  text-decoration: none;
  font-family: "Brandon Grotesque Medium", serif;
}

/*# sourceMappingURL=index.css.map */
