@use '../variables' as var
@use '../main' as main

// Tentang
#tentang
  background: var.$ternary-color
  padding-bottom: 3em

  h3
    @include main.section-title(6.85em)

  .row
    margin-top: 8em

    .img-wrapper
      display: grid
      justify-content: center
      align-content: center

      .img-frame
        text-align: center
        position: relative
        .tentang-img
          width: 60%
        &::before
          content: ""
          display: block
          width: 120%
          height: 170%
          position: absolute
          background-image: url(/img/icons/bg-frame5.png)
          background-position: center
          background-size: cover
          margin-top: -5.8em
          margin-left: -2.2em

    .tentang
    h4
      font-family: var.$primary-font, serif
      text-shadow: 1px 1px var.$ternary-color
      text-transform: capitalize !important
      font-size: 1.8rem
      font-weight: bold
      color: var.$text-color
      margin-bottom: 1em
      background: var.$secondary-color
      display: inline-block
      padding: .2em .5em
    p
      text-align: justify
      text-shadow: .5px .5px 5px var.$secondary-color
      font-size: 1rem
      line-height: 1.8em

  @media (max-width: 720px)
    .container > .row
      margin-top: 8em
    .img-wrapper
      margin-bottom: 12em
      padding: 0
      .img-frame
        .tentang-img
          width: 60% !important
        &::before
          width: 100% !important
          height: 180% !important
          margin-top: -5em !important
          margin-left: .5em !important
          background-size: 26em !important
          background-repeat: no-repeat

    .tentang
      h4
        text-align: center
        display: block
        margin-bottom: 1.5em
      p
        font-size: 1.2rem